orgsync:
  client:
    base-url: http://localhost:8080

spring:
  datasource:
    url: jdbc:h2:mem:orgsync-boot;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password: ""
  jpa:
    hibernate:
      ddl-auto: update
  rabbitmq:
    host: localhost
    port: 5672
    virtual-host: /
    username: orgsync
    password: 12341234
